
<footer class="ftco-footer">
  <div class="container mb-5 pb-4"> 
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2 logo d-flex align-items-center"><a href="/"><span><img src="/static/user/images/1.png" alt="" srcset=""></span><span><img class="img-fluid" src="/static/user/images/malinova_logo_1.png" alt="" srcset=""></span></a></h2>
          <p>Rejoignez nous sur les réseaux sociaux</p>
          <ul class="ftco-footer-social list-unstyled mt-4">
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2">Liens</h2>
          <ul class="list-unstyled">
            <li><a href="/"><span class="fa fa-chevron-right mr-2"></span>Accueil</a></li>
            <!-- <li><a href="/about"><span class="fa fa-chevron-right mr-2"></span>A Propos</a></li> -->
            <!-- <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>Services</a></li> -->
            <li><a href="/blog"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
            <li><a href="/contact"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="col-lg col-md-6">
       <div class="ftco-footer-widget">
        <h2 class="ftco-heading-2">Services</h2>
        <ul class="list-unstyled">
          <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Customer Services</a></li>
          <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Prompt Delivery</a></li>
          <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Reliable Equipment</a></li>
          <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New Heavy Equipment</a></li>
        </ul>
      </div>
    </div> -->

    <div class="col-lg-4 col-md-6">
      <div class="ftco-footer-widget">
       <h2 class="ftco-heading-2">Avez vous des questions?</h2>
       <div class="block-23 mb-3">
         <ul>
           <li><span class="fa fa-map-marker mr-3"></span><span class="text">Hamdallaye ACI près de Grande la Bougie </span></li>
           <li><a><span class="fa fa-phone mr-3"></span><span class="text">70454445 / 44905305</span></a></li>
           <li><a><span class="fa fa-paper-plane mr-3"></span><span class="text">contact.info@malinova.tech</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="container-fluid bg-primary py-5">
 <div class="row">
  <div class="col-md-12 text-center">
   
    <p class="mb-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>
  </div>
</div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="/static/user/js/jquery.min.js"></script>
<script src="/static/user/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/static/user/js/popper.min.js"></script>
<script src="/static/user/js/bootstrap.min.js"></script>
<script src="/static/user/js/jquery.easing.1.3.js"></script>
<script src="/static/user/js/jquery.waypoints.min.js"></script>
<script src="/static/user/js/jquery.stellar.min.js"></script>
<script src="/static/user/js/owl.carousel.min.js"></script>
<script src="/static/user/js/jquery.magnific-popup.min.js"></script>
<script src="/static/user/js/jquery.animateNumber.min.js"></script>
<script src="/static/user/js/bootstrap-datepicker.js"></script>
<script src="/static/user/js/jquery.timepicker.min.js"></script>
<script src="/static/user/js/scrollax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8z4J3TmlNhHzdm0YLiDzwN3vDQ1oWUGM&callback=initMap">
    </script>
<script src="/static/user/js/google-map.js"></script>
<script src="/static/user/js/partner.js"></script>

<script src="/static/user/js/main.js"></script>

</body>
</html>