<!DOCTYPE html>
<html lang="en">
<head>
  <title>Malinova Technology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/user/css/animate.css"> 
  
  <link rel="stylesheet" href="/static/user/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/user/css/owl.theme.default.min.css"> 
  <link rel="stylesheet" href="/static/user/css/magnific-popup.css">

  <link rel="stylesheet" href="/static/user/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/static/user/css/jquery.timepicker.css">
  
  <link rel="stylesheet" href="/static/user/css/flaticon.css">
  <link rel="stylesheet" href="/static/user/css/style.css">
</head>
<body>
  <div class="py-3">
   <div class="container">
    <div class="row d-flex align-items-start align-items-center px-3 px-md-0">
     <div class="col-md-4 d-flex mb-2 mb-md-0">
      <span><a href="/"><img src="/static/user/images/malinova_logo_2.png" alt="" srcset=""></a></span>
      <a class="navbar-brand d-flex align-items-center" href="/"><span><img class="img-fluid" src="/static/user/images/malinova_logo_1.png" alt="" srcset=""></span> </a>
      <!-- class="flaticon flaticon-road-roller" -->
    </div>
    <div class="col-md-4 d-flex topper mb-md-0 mb-2 align-items-center">
      <div class="icon d-flex justify-content-center align-items-center">
       <span class="fa fa-map"></span>
     </div>
     <div class="pr-md-4 pl-md-3 pl-3 text">
     <p class="hr"><span>Contacts</span></p> 
       <p class="con"><span>76864445 - 44905305</span></p>
     </div>
   </div>
   <div class="col-md-4 d-flex topper mb-md-0 align-items-center">
    <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-paper-plane"></span>
    </div>
    <div class="text pl-3 pl-md-3">
     <p class="hr"><span>Adresse</span></p>
     <p class="con"><span>Hamdallaye ACI près de la Bougie Ba</span></p>
   </div>
 </div>
</div> 
</div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
 <div class="container d-flex align-items-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="fa fa-bars"></span> Menu
 </button>
 <div class="collapse navbar-collapse" id="ftco-nav">
   <ul class="navbar-nav m-auto">
    <li class="nav-item active"><a href="/" class="nav-link">Accueil</a></li>
    <li class="nav-item "><a href="/about" class="nav-link">A Propos</a></li>
    <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
    <li class="nav-item"><a href="/gallery" class="nav-link">Gallerie</a></li>
    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    <!-- <li class="nav-item cta"><a href="contact.html" class="nav-link">Request A Quote</a></li> -->
  </ul>
</div>
</div>
</nav>
<!-- END nav -->